<div class="page-header">
    <h1>Community</h1>
</div>
<div class="row">
<div class="col-md-5 pull-right">
<div class="panel panel-default">
    <div class="panel-heading">Community Code of Conduct</div>
        <div class="panel-body"><p>LFG is an open, welcoming, and safe space. We want everyone to feel like they can come in, have fun, and meet new people who share their same interests. We need your help to make this a reality. Please welcome and encourage those around you, be mindful of the words you use, and respect other community member's preferences.</p>
        <p>We reserve the right to ask any person to exit our space at any time, for any reason. If someone is making you feel uncomfortable or unsafe, please see any of the owners of LFG (John, Edd, Brad, Justin, Brayton) and we will immediately address the issue and try to resolve it in the most positive manner possible.</p>
            <div class="well">This is a non-exhaustive list of things that will cause us to ask you to leave<br>
            <ul>

            <li>Discrimination based on: gender, sexuality, race, disibility, economic status
            <li>Sexual Language
            <li>Threats
            <li>Destruction of property (ours or anyone else's)
            <li>Violence of any kind
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="span6">
    <h1>Who are we?</h1>
    <p>We are a group of people who work and play well with others. During the day, we build websites, support network infrastructures, design plastics, teach and more. We want everyone to feel welcome at LFG and build our community on a foundation of friendliness, trust and collaboration. </p>
    
    <h1>Events</h1>
    <p>Each month we run community building events, from Code and Supply meetups to console building classes. We want everyone who comes through the doors to enjoy themselves, feel at home and learn something new.</p>
    
    <h1>Party Nights</h1>
    <p>Once (or twice, if people really like it) a month we will be having over 21 nights, inviting a brewery to provide beer for tasting and having a one price, all night gaming and social party at LFG.</p>

 </div>
 </div>