    <div class="breadcrumbs">
        <div class="container">
            <div class="pull-left"><h1>Cowork</h1></div>
        </div>
    </div>
    

<div class="container content height-500">  
 
        <p>At LFG we have a work area specializing in the needs of digital artists and game designers although community welcomes anyone who can use a great place to connect to wifi, use some office supplies and get to work.</p>
        
        <p>We also offer to our montly members access to our computers with Adobe Cloud, Cintiq tablets, test licenses for game engines and more. Each month we will try to add new features at the request of our members.</p>
        
        <p>LFG offers multiple server tools to help developers test and work on their games. We offer the Unity Master Server at our location for testing purposes, along with a Unity Assets server and VPN access to the cowork network to monthly members in case they need to offer outside contractors access to their machines.</p>


        <div>
          <h1>Cowork Pricing</h1>
          <div class="row service-box-v1">
          <div class="col-md-4 col-xsm-6">
                <div class="service-block service-block-default">
                    <i class="icon-lg rounded-x icon icon-badge"></i>
                    <h2 class="heading-sm">Unlimited</h2>
                    <h2 class="heading-v4 blue"><span class="text-highlights text-highlights-blue rounded-2x">$225/mo</span></h2>
                        <ul class="list-unstyled">
                            <li>Unlimited 24/7 Access</li>
                            <li>Monhtly Conference Room Hours</li>
                            <li>Daily Cintiq Hours</li>
                            <li>Off hours access to LAN computers</li>
                        </ul>                            
                    
                    <footer><a href="https://squareup.com/market/lfgpgh" class="btn btn-info">Book Cowork Online</a></footer>
                </div>
            </div>
            <div class="col-md-4 col-xsm-6">
                <section class="service-block service-block-default">
                    <i class="icon-lg rounded-x icon icon-badge"></i>
                    <h2 class="heading-sm">Limited</h2>
                    <h2 class="heading-v4 blue"><span class="text-highlights text-highlights-blue rounded-2x">$125/mo</span></h2>
                        <ul class="list-unstyled">
                            <li>24/7 Access 10 Days/mo</li>
                            <li>Monthly Conference Room Hours</li>
                            <li>Daily Cintiq Hours</li>
                            <li>Off hours access to LAN computers</li>
                        </ul>                            
                    <footer><a href="https://squareup.com/market/lfgpgh" class="btn btn-info">Book Cowork Online</a></footer>
                </section>
            </div>
            <div class="col-md-4 col-xsm-6">
                <section class="service-block service-block-default">
                    <i class="icon-lg rounded-x icon icon-badge"></i>
                    <h2 class="heading-sm">Daily</h2>
                    <h2 class="heading-v4 blue"><span class="text-highlights text-highlights-blue rounded-2x">$20/day</span></h2>
                        <ul class="list-unstyled">
                            <li>8am - 10pm Late Evening Access</li>
                            <li>Access to Conference Room</li>
                            <li>Access to Cintiq</li>
                        </ul>                            
                    <footer><a href="https://squareup.com/market/lfgpgh" class="btn btn-info">Book Cowork Online</a></footer>
                </section>
            </div>
        </div>
    </div>
</div>
