<div class="container content height-500">  
    <div class="page-header">
        <h1>Cowork</h1>
    </div>
    <div class="content">    
        <p>At LFG we have a work area specializing in the needs of digital artists and game designers although community welcomes anyone who can use a great place to connect to wifi, use some office supplies and get to work.</p>
        
        <p>We also offer to our montly members access to our computers with Adobe Cloud, Cintiq tablets, test licenses for game engines and more. Each month we will try to add new features at the request of our members.</p>
        
        <p>LFG offers multiple server tools to help developers test and work on their games. We offer the Unity Master Server at our location for testing purposes, along with a Unity Assets server and VPN access to the cowork network to monthly members in case they need to offer outside contractors access to their machines.</p>


        <div>
          <h1>Cowork Pricing</h1>
          <div class="col-md-4 col-xsm-6">
                <section class="pricing-table pricing-table-warning">
                    <header><h2>Unlimited</h2></header>
                    <p class="pricing-price"><span class="pricing-sign">$</span>TBD<span class="pricing-sub">/mo</span></p>
                    <div class="pricing-plan-details">
                        <p class="pricing-lead">Including</p>
                        <ul>
                            <li>Unlimited 24/7 Access</li>
                            <li>? Conference Room Hours</li>
                            <li>? Daily Cintiq Hours</li>
                            <li>Off hours access to LAN computers</li>
                        </ul>                            
                    </div>
                    <footer><a href="#/cowork" class="btn btn-info">Available Soon</a></footer>
                </section>
            </div>
            <div class="col-md-4 col-xsm-6">
                <section class="pricing-table pricing-table-success">
                    <header><h2>Limited</h2></header>
                    <p class="pricing-price"><span class="pricing-sign">$</span>TBD<span class="pricing-sub">/mo</span></p>
                    <div class="pricing-plan-details">
                        <p class="pricing-lead">Including</p>
                        <ul>
                            <li>24/7 Access 10 Days/mo</li>
                            <li>? Conference Room Hours</li>
                            <li>? Daily Cintiq Hours</li>
                            <li>Off hours access to LAN computers</li>
                        </ul>                            
                    </div>
                    <footer><a href="#/cowork" class="btn btn-info">Available Soon</a></footer>
                </section>
            </div>
            <div class="col-md-4 col-xsm-6">
                <section class="pricing-table pricing-table-info">
                    <header><h2>Daily</h2></header>
                    <p class="pricing-price"><span class="pricing-sign">$</span>TBD<span class="pricing-sub">/day</span></p>
                    <div class="pricing-plan-details">
                        <p class="pricing-lead">Including</p>
                        <ul>
                            <li>8am - 5pm Access</li>
                            <li>Access to Conference Room</li>
                            <li>Access to Cintiq</li>
                        </ul>                            
                    </div>
                    <footer><a href="#/cowork" class="btn btn-info">Available Soon</a></footer>
                </section>
            </div>
        </div>
    </div>
</div>
