    <div class="breadcrumbs">
        <div class="container">
            <div class="pull-left"><h1>Gaming</h1></div>
        </div>
    </div>
    


<div class="container content height-500">  
    <div class="content">
        <p>Come and play games with us on PC, Xbox One, PS4, Wii U and others. Or take a seat at our gaming tables and try out some of our board games or bring your own games or decks. Our cost is only $4 per hour, $10 for 3 hours or $20 for all day.</p>
        <h3>Local Servers</h3>
        <p>Play on our local servers in Minecraft, Starbound and others. We keep player stats and host whatever games are requested and possible to host. Seriously, if you want something to be hosted so you can play multiplayer, ask us and we'll probably install it that day.</p>
        <h3>Tournaments</h3>
        <p>We run tournaments in all types of games, from FPS and fighting games to card and dice games. Our schedule will be posted up here once we have it started but we are planning on hosting tournaments for the following games (but we're always willing to hear requests and try to facilitate any game you want).</p>
        <div class="container">
            <div class="col-md-6 list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Halo</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Call of Duty</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Mortal Kombat</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Killer Instinct</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Magic: The Gathering</li>
            </div>
            <div class="col-md-6 list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Smash Bros</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Unreal Tournament</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Nidhogg</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Towerfall</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Dropzone Commander</li>
                </div>
        </div>
        <h2>Classes</h2>
        <p>We don't just play at LFG, we also learn and build. Here are some of the classes we are offering, most of them free. We will be putting up our class schedule as soon as possible but if you have a class idea or want to take one of our classes, let us know now and we will make sure to let you know when it is ready.</p>
        <h3>Build Your Own Console</h3>
        <p>Learn how to build your own console using a Raspberry Pi. This class costs ~$100 in materials but at the end, you take home your own retro console that has multiple games installed. You will learn how to install the OS, connect to your console, copy files over and configure emulators and controls. Take home copies of Doom and Duke Nukem 3D with your console!</p>

        <h3>Mods</h3>
        <p>Using the Starcraft 2 or Dota 2 tools, learn how to build maps and mods then play your mods with other people. Learn how to start using content creation tools, triggers and different elements to build out your own perfect map or mod.</p>

        <h3>Servers</h3>
        <p>Learn how to build and maintain your own Minecraft server using Linux and Docker. Learn how to change settings, add mods and set up your server to create your own version of Minecraft.</p>
    </div>
</div>