<div class="content">
    <div class="col-md-12">
        <div class="container col-md-4"><a ng-href="#/gaming"><img src="images/L_fin_525.gif" alt="Gaming" class="img-responsive"></a></div>
        <div class="container col-md-4"><a ng-href="#/community"><img src="images/F_fin_525.gif" alt="Community" class="img-responsive"></a></div>
        <div class="container col-md-4"><a ng-href="#/cowork"><img src="images/G_fin_525.gif" alt="Cowork" class="img-responsive"></a></div>
    </div>

    <div class="row">
        <h1>Looking for Group</h1>
        <p>LFG is a combined gaming center and coworking space. Why would we combine these two? Because the cowork side can use the gaming side to take a break or borrow a PC to test out their website/game/app in a different environment. Because the gaming side can use the cowork space to hold classes, learning to build mods and maps to bring back over to the gaming computers and try out with people sitting right beside them. Because we believe that whether you are working or playing, having someone doing the same thing beside you makes it more fun.</p>
        
        <h2>Gaming</h2>
        <p>The larger percentage of the LFG floorplan is dedicated to gaming space. We are providing PC setups where people can come and rent time (cheap, seriously!) to play games or browse the internet. We are also providing Xbox One and PS4 setups, both individual pods and several "living room" spaces that are designed for single screen, multi-player parties. </p>

        <p>Along with full setups, players are able to rent table space where they can bring their own gaming rigs or play pen and paper or board games. Many board games and gaming books are provided, but we also welcome and encourage outside games. </p>

        <p>One of the special features of the gaming setup is the creation of custom servers for games. From Minecraft to Unreal Tournament to Chat (mattermost), LFG will host local servers to keep local stats, create local worlds and let people build their own local community. </p>

        <h2>Coworking</h2>
        <p>Coworking in Pittsburgh has been booming but there are no coworking locations in the South Hills. LFG is offering desk space for a daily or monthly rental. This includes all of the now standard coworking amenities: coffee pot and fridge, all hours access, convenient parking, conference rooms, printer, scanner, great internet access and a community of people who are friendly and willing to talk. LFG offers so much more than standard amenities, though.</p>

        <p>Monthly cowork members can use LAN computers during off hours to  browse the internet or just take a break from work and play a few games. And by separating your work computer from break computers, members can prevent the common productivity killers like checking facebook, wandering the internet or going through imgur yet again.</p>

        <p>Or members can use our computers to do their work. Our productivity suite includes Office, Photoshop, Visual Studio, Inkscape and free software that will help members make their ideas a reality. We also offer server based tools for development testing, such as VMs and local web hosting.</p>

    </div>
</div>