    <!--=== Slider ===-->
    <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto;">
        <!-- First slide -->
        <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
            <img src="assets/img/sliders/jumbo01.jpg" class="ls-bg" alt="Slide background"/>

            <iframe class="ls-l" style="top: 60px; left: 88%;"
            data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" frameborder="0" height="420" scrolling="no" src="https://www.kickstarter.com/projects/1689659549/looking-for-group-gaming-community-space/widget/card.html?v=2" width="220"></iframe>
            
            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i>
            
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
                Consoles - PS4, Xbox One, WiiU
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
                BYOC Space
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
                Board Gaming
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i>

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">
                Tournaments and Special Events
            </span>
        </div>

        <!--Second Slide-->
        <div class="ls-slide" data-ls="transition2d:93;">
            <img src="assets/img/sliders/jumbo02.jpg" class="ls-bg" alt="Slide background">

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #70A98B; font-size: 24px; top:70px; left: 40px; slidedirection : bottom; slideoutdirection : left; durationin : 1500; durationout : 500; "></i>

            <span class="ls-s-2" style=" color: #70A98B; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; ">
                8+ Person Conference Room
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #70A98B; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : left; durationin : 2500; durationout : 500; "></i>

            <span class="ls-s-2" style=" color: #70A98B; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 500; ">
                Kitchenette
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #70A98B; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : left; durationin : 3500; durationout : 500; "></i>

            <span class="ls-s-2" style=" color: #70A98B; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 500; ">
                Whiteboards, Stickies, Printer
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #70A98B; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : left; durationin : 4500; durationout : 500; "></i>

            <span class="ls-s-2" style=" color: #70A98B; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 500; ">
                Great Location in the South Hills
            </span>


            <img src="assets/img/mockup/iphone1.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
        </div>

        <!--Third Slide-->
        <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
            <img src="assets/img/sliders/jumbo03.jpg" class="ls-bg" alt="Slide background">

            <span class="ls-s-1" style=" color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
                Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
            </span>

            <a class="btn-u btn-u-green ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
                Find Out More
            </a>

            <img src="assets/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
        </div>
        <!--End Third Slide-->
    </div><!--/layer_slider-->
    <!--=== End Slider ===-->

    <div class="container content height-500">    

        <div class="row">
            <div class="span5 pull-right" style="padding-left: 10px">
            <iframe frameborder="0" height="420" scrolling="no" src="https://www.kickstarter.com/projects/1689659549/looking-for-group-gaming-community-space/widget/card.html?v=2" width="220"></iframe>
            </div>
            <div class="span6">
                <h1>Looking for Group</h1>
                <p>LFG is a combined gaming center and coworking space. Why would we combine these two? Because the cowork side can use the gaming side to take a break or borrow a PC to test out their website/game/app in a different environment. Because the gaming side can use the cowork space to hold classes, learning to build mods and maps to bring back over to the gaming computers and try out with people sitting right beside them. Because we believe that whether you are working or playing, having someone doing the same thing beside you makes it more fun.</p>
                
                <h2>Gaming</h2>
                <p>The larger percentage of the LFG floorplan is dedicated to gaming space. We are providing PC setups where people can come and rent time (cheap, seriously!) to play games or browse the internet. We are also providing Xbox One and PS4 setups, both individual pods and several "living room" spaces that are designed for single screen, multi-player parties. </p>

                <p>One of the special features of the gaming setup is the creation of custom servers for games. From Minecraft to Unreal Tournament to Chat (mattermost), LFG will host local servers to keep local stats, create local worlds and let people build their own local community. </p>

                <h2>Coworking</h2>
                <p>Coworking in Pittsburgh has been booming but there are no coworking locations in the South Hills. LFG is offering desk space for a daily or monthly rental. This includes all of the now standard coworking amenities: coffee pot and fridge, all hours access, convenient parking, conference rooms, printer, scanner, great internet access and a community of people who are friendly and willing to talk. LFG offers so much more than standard amenities, though.</p>

                <p>Monthly cowork members can use LAN computers during off hours to  browse the internet or just take a break from work and play a few games. And by separating your work computer from break computers, members can prevent the common productivity killers like checking facebook, wandering the internet or going through imgur yet again.</p>

                <p>Or members can use our computers to do their work. Our productivity suite includes Office, Photoshop, Visual Studio, Inkscape and free software that will help members make their ideas a reality. We also offer server based tools for development testing, such as VMs and local web hosting.</p>

                <!-- Owl Clients v1 -->
                <div class="headline"><h2>Our Games</h2></div>
                <div class="owl-clients-v1">
                    <div class="item">
                        <img src="assets/img/games/rocket_league.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/halo.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/kerbal.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/nidhogg.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/speedrunners.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/ssmb.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/ts2015.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/destiny.png" alt="">
                    </div>
                    <div class="item">
                        <img src="assets/img/games/blops3.png" alt="">
                    </div>
                </div>
                <!-- End Owl Clients v1 -->
                
                <h2>Where are we?</h2>
                <p>924 Brookline Blvd<br>
                Pittsburgh, PA 15226</p>
                
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=zcJN2AfaaNpg.kRs92793nVcA" width="640" height="480"></iframe>
                </div>
                

            </div>
        </div>
        

    </div>

    <script>
                LayerSlider.initLayerSlider();
                OwlCarousel.initOwlCarousel();
                OwlRecentWorks.initOwlRecentWorksV2();
    </script>