    <div class="breadcrumbs">
        <div class="container">
            <div class="pull-left"><h1>Map</h1></div>
        </div>
    </div>
    

<div class="container content height-500">    
<h1>Our Area</h1>
<p>Sure, we could slap our address and a quick google map onto here and call it a day but that isn't how we want to do things at LFG. Our community is important to us and we show that by showing off our favorite places in our community. On our map you'll find local places to eat, drink, where to park, and more. We don't exist alone in Brookline. We are part of a larger community that is awesome and we want you to be a part of that community too.</p>

<h2>Our Address</h2>
<p>924 Brookline Blvd<br>
Pittsburgh, PA 15226<br>
(774) 482-1264</p>

<h2>Our Favorite Places</h2>
    <ul>
        <li>Las Palmas (great tacos and a grocery store)
        <li>Cannon Coffee, now called Cafe du Noir (good coffee, good space, new owners)
        <li>Antonio's Pizza (maybe the best pizza in Brookline, depends on how much you love Fiori's)
        <li>West Liberty Cycles (great people who will fix your bike and make it like new)
        <li>Pitaland (shwarma and gyros, probably the best in Pittsburgh)
        <li>Brookline Beer (new owners who are into microbrews - go talk to them)
    </ul>
 

    <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=zcJN2AfaaNpg.kRs92793nVcA" width="640" height="480"></iframe>
    </div>
</div>